@import "./assets/modules/image-popup/image-popup.css";

@supports (animation-name: none) {
    @font-face {
        font-family: openDyslexic;
        src: url(https://raw.githubusercontent.com/lumilovesyou/lumiverse/refs/heads/main/assets/fonts/OpenDyslexic-Regular.otf);
    }

    .readable {
        font-family: "openDyslexic";
        font-size-adjust: 0.5;
    }

    html,body {
        margin: none;
        padding: none;
    }

    #title, #subTitle {
        line-height: 1;
    }

    .noBottom {
        margin-bottom: none;
        padding-bottom: none;
        line-height: 0;
    }

    .noTop {
        margin-top: none;
        padding-top: none;
        line-height: 0;
    }

    b:hover {
        animation: rainbow 1s infinite;
    }

    @keyframes rainbow {
        0% {
            color: red;
        }
        50% {
            color: rgb(0, 255, 255);
        }
        100% {
            color: rgb(255, 0, 0);
        }
    }

    #myEightyEight {
        cursor: pointer;
    }

    #thingie {
        user-select: none;
        position: absolute;
        margin-top: auto;
        left: 0;
        opacity: 0%;
        cursor: default;
    }

    #thingie:hover {
        opacity: 100%;
    }
}