:root {
    --special-text-colour: #f5defd;
    --text-colour: #fcfdfc;
    --subtext-colour: #86878c;
    --divider-colour: #ccced2;
}

@font-face {
    font-family: openDyslexic;
    src: url(./assets/fonts/openDyslexic-Regular.otf);
}

body {
    /* Display */
    color: var(--text-colour);
    background-color: #001014;
    font-family: "openDyslexic", 'Trebuchet MS', sans-serif;

    /* Sizing */
    padding: 0;
    margin: 0;
}

h6 {
    color: var(--subtext-colour);
}

hr {
    width: 70%;
    border: var(--divider-colour) 1px solid;
    border-radius: 1vw;
    margin: 1.5em auto 1em auto;
}

a {
    text-decoration: none;
    color: var(--text-colour);
}

a:hover {
    text-decoration: underline;
}

#centreBox {
    /* Alignment */
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
}

@media (max-width:800px) {
    #userCard {
        width: 80vw !important;
        min-height: 90vh !important;
        height: 1px;
    }

    .dropShadowGlow {
        filter: drop-shadow(0vw 0vw 5vw white) !important;
    }
}

#userCard {
    /* Sizing */
    height: 90vh;
    width: 25vw;
    min-width: 250px;
    padding: 1% 5% 5% 5%;
    margin: 1vh;
    margin-left: -4%;

    /* Alignment */
    display: flex;
    align-items: center;
    align-items: top;
    flex-direction: column;

    /* Display */
    background-color: #b6c9cd39;
    border-radius: 1vw;
}

#title {
    cursor: pointer;
}

#title:active {
    color: var(--subtext-colour)
}

#boxesCard {
    /* Display */
    background-color: #b6c9cd39;
    border-radius: 1vw;

    /* Scaling */
    width: 90%;
    padding: 5%;
    height: 100%;
}

#imageClick img {
    cursor: pointer;
}

#imageClick img:active {
    filter: brightness(90%) !important;
}

#imageClick img:hover {
    filter: brightness(110%);
}

/* Reusable */

.centreMe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dropShadowGlow {
    filter: drop-shadow(0vw 0vw 1vw white);
}

.noMarginTop {
    margin-top: 0px;
}

.noMarginBottom {
    margin-bottom: 0px;
}

.large {
    font-size: large;
}

.subtext {
    color: var(--subtext-colour);
}

.special {
    color: var(--special-text-colour);
}

.special:hover {
    animation: rainbowColour 1.5s infinite;
}

@keyframes rainbowColour {
  0% {color: red;}
  33% {color: rgb(0, 255, 0);}
  66% {color: rgb(0, 0, 255);}
  100% {color: rgb(255, 0, 1);}
}